<div id='option-{{id}}'>
  <input type="text" name="options[]" maxlength="40" placeholder="Option Name">
  <button type='button' data-optionId='{{id}}' class='btn btn-danger remove-option'>-</button><br>
</div>
