<div id='option-{{id}}'>
  <input type="text" name="options[]" maxlength="28" placeholder="Option Name" required>
  <button type='button' data-optionid='{{id}}' class='btn btn-danger remove-option'>-</button><br>
</div>
