<form id="create-survey">
  <input type="text" name="survey[title]" maxlength="40" placeholder="Title" required><br>
  <div id='options'>
  </div>
  <button type=button id='add-option' class='btn btn-success'>+</button>
  <input type="submit" value="Create Survey" class="btn btn-success">
</form>
