<div id='option-{{count}}'>
  <input type="text" name="options[]" maxlength="40" placeholder="Option Name">
  <button type='button' id='remove-option' data-id='{{count}}' class='btn btn-danger'>-</button><br>
</div>
