<div id='option-{{id}}'>
  <input class="text-field" type="text" name="options[]" maxlength="28" placeholder="Option Name" required>
  <button type='button' data-optionid='{{id}}' class='btn remove-option'>-</button><br>
</div>
