@import '~bootstrap/scss/bootstrap';
@import 'theme';

$yellow: #eaea00;
$grey: #dfdfdf;
$blue: #9191ff;

#top-nav {
  height: fixed;
  @extend .navbar;
  // @extend .navbar-dark;
  // @extend .bg-dark;
  @extend .fixed-top;

  .app-name {
    @extend .navbar-brand;
    @extend .h1;
    margin-bottom: 0;
    font-family: 'Rye', cursive;
    font-size: 28px;
    color: $yellow;
  }
}

.log-before-nav2 {
  margin-top: 95px;
}


.nav2 {
  margin-top: 95px;
  display: flex;
  justify-content: space-between;
}

.disable {
  display: none;
}

.hidden {
  display: none;
=======
  // background-image: url("Light background.jpg");
  // background-size: 1000px;
  background-color: $blue;
  background-position: top;
>>>>>>> 70's theme
}


body {
  margin: 0 20px;
  background-color: $grey;
}

button, .btn {
  font-family: 'DM Serif Display', serif;
  background-color: $yellow;
}

* {
  font-family: 'DM Serif Display', serif;
  font-style: normal;
  font-weight: 400;
}
