@import '~bootstrap/scss/bootstrap';
@import 'theme';

#top-nav {
  height: fixed;
  @extend .navbar;
  @extend .navbar-dark;
  @extend .bg-dark;
  @extend .fixed-top;

  .app-name {
    @extend .navbar-brand;
    @extend .h1;
    margin-bottom: 0;
    font-family: 'Montserrat Alternates', sans-serif;
  }
}

.log-before-nav2 {
  margin-top: 70px;
}


.nav2 {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.disable {
  display: none;
}

img {
  height: 80px;
  width: auto;
  margin: -8px -7px -8px -17px
}

nav {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5fddc4b4-1f6e-41d7-9006-fbd3be6f88be/d7fbvzl-8e8f3a52-e52e-4fdd-b2e9-7a73b33991b2.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVmZGRjNGI0LTFmNmUtNDFkNy05MDA2LWZiZDNiZTZmODhiZVwvZDdmYnZ6bC04ZThmM2E1Mi1lNTJlLTRmZGQtYjJlOS03YTczYjMzOTkxYjIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.fkkYHgCLgLBM12nva262-fP9dxIYP-W0ECIivS6aIH8");
  // background-color: #e3aa00;
}


body {
  margin: 0 20px;
}
